{% extends 'base.html.twig' %}

{% block title %}All Wish{% endblock %}

{% block body %}

    <div class="container-global">
        <h1>Details</h1>
        <ul>
            <li>{{ wish.title }}</li>
            <li>{{ wish.description }}</li>
            <li>{{ wish.author }}</li>
            {% if wish.isPublished is not null %}
                <li>{{ wish.isPublished ? 'fait' : 'A faire' }}</li>
            {% endif %}
            <li>{{ wish.dateCreated|date('d/m/y') }}</li>
            {% if wish.dateUpdated is not null %}
                <li>{{ wish.dateUpdated ? wish.dateUpdated|date('d/m/y') : '' }}</li>
            {% endif %}
        </ul>

        <p><a href="{{ path('app_wish') }}">Retour</a></p>

    </div>

{% endblock %}