{% extends 'base.html.twig' %}

{% block title %}Détails du souhait{% endblock %}

{% block body %}

    <div class="container-global">
        <h1>Détails du souhait : {{ wish.title }}</h1>
        <hr>
        <dl>
            <dt>Titre :</dt>
            <dd>{{ wish.title }}</dd>

            <dt>Description :</dt>
            <dd>{{ wish.description }}</dd>

            <dt>Auteur :</dt>
            <dd>{{ wish.author }}</dd>

            {% if wish.isPublished is not null %}
                <dt>Statut :</dt>
                <dd>{{ wish.isPublished ? 'Fait' : 'À faire' }}</dd>
            {% endif %}

            <dt>Date de création :</dt>
            <dd>{{ wish.dateCreated|date('d/m/Y') }}</dd>

            {% if wish.dateUpdated is not null %}
                <dt>Date de mise à jour :</dt>
                <dd>{{ wish.dateUpdated|date('d/m/Y') }}</dd>
            {% endif %}
        </dl>

        <p><a href="{{ path('app_wish') }}">Retour à la liste des souhaits</a></p>

    </div>

{% endblock %}